---
layout: default
title: Zhiyu Jiang
---

<center>
<h3><font color="#000080">
	Zhiyu Jiang
	姜志宇<a href="http://en.wikipedia.org/wiki/Chinese_character"><i class="icon-question-sign"></i></a></font>
</h3>
<P>
	Center for OPTical IMagery Analysis and Learning (OPTIMAL) <br/>
	Xi'an Institute of Optics and Precision Mechanics <br/>
	University of Chinese Academy of Sciences <br/><br/>
</P>
</center>

<!-- Do I want to show a pic on the phone screen?
<div class="text-center visible-phone">
	<img src="assets/img/zhiyu.png" alt="photo" width="100px"/>
</div>
-->
<a class="visible-phone pull-left" href="#">
  <img class="media-object" src="assets/img/zhiyu.png" width="80px"  height = "100px"
 style="margin: 0px 10px" />
</a>
<p>
I am currently a Phd candidate at University of Chinese Academy of Sciences, advised by Prof. Yuan Yuan, Prof. <a href="http://crabwq.github.io/" target="_blank">Qi Wang</a>, and Prof. <a href="http://people.ucas.ac.cn/~xuelong" target="_blank">Xuelong Li</a>. 
</p>
<p>
You can contact me by jzhiyu1991 at gmail dot com
<a href="/pages/love.html">.</a>
 
</p>


<!--
 *** Education ***
-->
<h3>
	<a name='education'></a> Education
</h3>
<p>
    <ul>
        <li> 09/2013-07/2018 Ph.D, University of Chinese Academy of Sciences. 
        <li> 09/2009-07/2013 B.S, electronic engineering, Xidian University. 
    </ul>
</p>




<!--
 *** Research ***
-->
<h3>
	<a name='research'></a> Research 
</h3>
<p>
My current research topics include:
    <ul>
        <li> Artificial intelligence, machine learning and computer vision.
        <li> Holistic scene understanding, mainly focus on Driver Assistant System and driverless cars.
        <li> Traffic scene understanding, including road detection, semantic parsing, anomaly detection.
    </ul>
</p>




<!--
 *** Publications ***
-->
<h3>
	<a name='publications'></a> Recent Publications 
</h3>
<p>
    Links to: <a href="pages/publications.html" target="_blank">[Full List]</a>
	<a href="http://dblp.uni-trier.de/pers/hd/j/Jiang:Zhiyu" target="_blank">[dblb]</a>
    <!--<a href="projects.html"> [Unpublished Projects]</a>-->
</p>

{% include pub_highlight.html %}


<!--
 *** Professional Activities ***
-->
<h3>
	<a name='activities'></a> Professional Activities
</h3>
<p>
<b>Reviewer</b> 
    <ul>
        <li> Neurocomputing (Elsevier)
        <li> International Conference on Machine learning and Signal Processing (MALSIP2015) 
		<li> Journal of Traffic and Transportation Engineering
		<li> IEEE International Conference on Systems, Man, and Cybernetics(SMC2015)
    </ul>
</p>


<!--
 *** About ***
-->
<h3>
	<a name='about'></a> About
</h3>
<b>About the Blog</b>
<p>
    This page is first : <a href="publications.html" target="_blank">[Full List]</a>
	<a href="http://dblp.uni-trier.de/pers/hd/j/Jiang:Zhiyu" target="_blank">[dblb]</a>
    <!--<a href="projects.html"> [Unpublished Projects]</a>-->
</p>

<b>About the Author</b>

{% include pub_highlight.html %}