<div class="media">
  <a class="pull-left" href="#">
	<br/>
    <img class="media-object" src="assets/img/nero2015.png" width="250px"  height="180px"/>
	<br/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>Video-based road detection via online structural learning</strong><br />
      Y. Yuan, Q. Wang, and Z. Jiang. Neurocomputing 2015.<br />
      <a href="http://dx.doi.org/10.1016/j.neucom.2015.05.092">[Link]</a>
      <a href="assets/pdf/demos/video based road detection_640_480_neuro2015.avi">[Demo]</a>
	  <a href="assets/pdf/Video-based road detection via online structural learning_neurocomputing2015.pdf">[PDF]</a>
    </p>
    <p class="abstract-text">
    Video-based road detection is a crucial enabler for the successful development of driver assistant and robot navigation systems. But reliable detection is still on its infancy and deserves further research. In order to adapt to the situation  consisting of environmental varieties, an online framework is proposed focusing on exploring the structure cue of the feature vectors. 
    </p> 
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
	<br/>
    <img class="media-object" src="assets/img/chinasip2014.png" width="250px" height="180px"/>
	<br/>
  </a>
  <div class="media-body">
    <p class="media-heading">
      <strong>Adaptive Road Detection towards Multiscale-Multilevel Probabilistic Analysis</strong><br />
      Z. Jiang, Q. Wang, and Y. Yuan. ChinaSIP 2014.<br />
      <a href="http://dx.doi.org/10.1109/ChinaSIP.2014.6889334">[Link]</a>
	  <a href="#">[Demo]</a>
      <a href="assets/pdf/Adaptive Road Detection towards Multiscale-Multilevel Probabilistic Analysis-ChinaSIP2014.pdf">[PDF]</a>	
    </p>
    <p class="abstract-text">
    Vision-based road detection is a challenging problem because of the changeable shape and varying illumination. Though many efforts have been spent on this topic, the achieved performance is far from satisfactory. To this end, this paper formulates a Bayesian method which simultaneously explores the multiscale-multilevel clues that are considered to be complementary.
    </p> 
  </div>
</div>