<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Zhiyu Jiang</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Le styles -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/css/my.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="span3 bs-docs-sidebar">
          <!-- We use a fancy nav bar if there is enough space -->
          <hr class="hidden-phone"/>
          <ul class="nav nav-list bs-docs-sidenav hidden-phone">
            <li><a href="index.html"><i class="icon-home"></i>Home</a></li>
			<li><a href="index.html#education"><i class="icon-book"></i>Education</a></li>
            <li><a href="index.html#research"><i class="icon-music"></i>Research</a></li>
            <li><a href="index.html#publications"><i class="icon-list-alt"></i>Publications</a></li>
            <li><a href="index.html#activities"><i class="icon-glass"></i>Professional Activities</a></li>
            <li><a href="index.html#awards"><i class="icon-star"></i>Honors and Awards</a>
           <li><a href="about.html"><i class="icon-user"></i>About</a></li>
            
			<!--
			<li><a href="index.html#software"><i class="icon-play"></i>Software</a></li>
            <li><a href="index.html#teaching"><i class="icon-play"></i>Teaching</a></li>
            <li><a href="assets/pdf/CV.pdf"><i class="icon-play"></i>CV</a></li>
			-->

          </ul>
          <hr class="hidden-phone"/>
          <div class="text-center hidden-phone">
            <img src="assets/img/zhiyu.png" alt="photo" class="logo-image"/>
			<br />
			<br />
<!--
			<img src="assets/img/Fearless.png" alt="photo" class="logo-image" width="500px"  height="150px"/>
-->
			<br />
			<p>NO.17 Xinxi Road, New Industrial Park, Xi'an Hi-Tech Industrial Development Zone, Xi'an, Shaanxi, P.R.China <br />
			<br />
			<a href="mailto:zhiyu.jiang.chn@gmail.com">zhiyu.jiang.chn@gmail.com</a>
			<script charset="Shift_JIS" src="http://chabudai.sakura.ne.jp/blogparts/honehoneclock/honehone_clock_tr.js"></script>
			<p/>
          </div>
          <!-- Otherwise, we simply use a flat list of links -->
          <div class="visible-phone">
            <a href="index.html"><i class="icon-play"></i>Home</a>
			<a href="index.html#education"><i class="icon-play"></i>Education</a>
            <a href="index.html#research"><i class="icon-play"></i>Research</a>
            <a href="index.html#publications"><i class="icon-play"></i>Publications</a>
            <a href="index.html#activities"><i class="icon-play"></i>Professional Activities</a>
            <a href="index.html#awards"><i class="icon-play"></i>Honors and Awards</a>
           <a href="about.html"><i class="icon-play"></i>About</a>

			<!--
            <a href="index.html#software"><i class="icon-play"></i>Software</a>
            <a href="index.html#teaching"><i class="icon-play"></i>Teaching</a>
            <a href="assets/pdf/CV.pdf"><i class="icon-play"></i>CV</a>
			-->
          </div>
        </div>
        <div class="span9">
          {{ content }}
        </div>
      </div>
    </div>

    <!-- Footer
    ================================================== -->
    <hr>
    <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="span12">
			<p><center>Last updated:March 2016<br />
			&copy; Zhiyu Jiang 2016  
			
			<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256894435'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256894435%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
			<center/></p>
        </div>
      </div>
    </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!--
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="assets/js/bootstrap-transition.js"></script>
    <script src="assets/js/bootstrap-alert.js"></script>
    <script src="assets/js/bootstrap-modal.js"></script>
    <script src="assets/js/bootstrap-dropdown.js"></script>
    <script src="assets/js/bootstrap-scrollspy.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/bootstrap-tooltip.js"></script>
    <script src="assets/js/bootstrap-popover.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-collapse.js"></script>
    <script src="assets/js/bootstrap-carousel.js"></script>
    <script src="assets/js/bootstrap-typeahead.js"></script>
    <script src="assets/js/bootstrap-affix.js"></script>
    <script src="assets/js/holder/holder.js"></script>
    <script src="assets/js/application.js"></script>
-->
  </body>
</html>
